In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [5]:
df = pd.read_csv("yellow_tripdata_2019-01.csv", nrows = 100)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [11]:
df_iter = pd.read_csv("yellow_tripdata_2019-01.csv", iterator=True, chunksize=100000)

In [12]:
df_iter

In [13]:
df = next(df_iter)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [38]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [21]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.92 s, sys: 132 ms, total: 6.05 s
Wall time: 10.1 s

1000

In [39]:
from time import time

In [40]:
while True:

    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk ..., took %.3f seconds' % (t_end - t_start))

inserted another chunk ..., took 8.433 seconds
inserted another chunk ..., took 8.307 seconds
inserted another chunk ..., took 8.339 seconds
inserted another chunk ..., took 8.423 seconds
inserted another chunk ..., took 8.750 seconds
inserted another chunk ..., took 9.492 seconds
inserted another chunk ..., took 9.111 seconds
inserted another chunk ..., took 9.306 seconds
inserted another chunk ..., took 9.269 seconds
inserted another chunk ..., took 9.419 seconds
inserted another chunk ..., took 9.761 seconds
inserted another chunk ..., took 8.999 seconds
inserted another chunk ..., took 8.583 seconds
inserted another chunk ..., took 9.362 seconds
inserted another chunk ..., took 9.471 seconds
inserted another chunk ..., took 10.177 seconds
inserted another chunk ..., took 10.040 seconds
inserted another chunk ..., took 10.032 seconds
inserted another chunk ..., took 10.011 seconds
inserted another chunk ..., took 9.906 seconds
inserted another chunk ..., took 9.908 seconds
inserted another chunk ..., took 9.901 seconds
inserted another chunk ..., took 10.098 seconds
inserted another chunk ..., took 10.013 seconds
inserted another chunk ..., took 10.603 seconds
inserted another chunk ..., took 10.139 seconds
inserted another chunk ..., took 10.139 seconds
inserted another chunk ..., took 10.188 seconds
inserted another chunk ..., took 9.391 seconds
inserted another chunk ..., took 8.920 seconds
inserted another chunk ..., took 9.399 seconds
inserted another chunk ..., took 8.981 seconds
inserted another chunk ..., took 9.273 seconds
inserted another chunk ..., took 9.289 seconds
inserted another chunk ..., took 9.360 seconds
inserted another chunk ..., took 9.852 seconds
inserted another chunk ..., took 9.299 seconds
inserted another chunk ..., took 8.931 seconds
inserted another chunk ..., took 9.260 seconds
inserted another chunk ..., took 9.002 seconds
inserted another chunk ..., took 8.950 seconds
inserted another chunk ..., took 10.620 seconds
inserted another chunk ..., took 9.792 seconds
inserted another chunk ..., took 9.165 seconds
inserted another chunk ..., took 9.758 seconds
inserted another chunk ..., took 9.149 seconds
inserted another chunk ..., took 9.029 seconds
inserted another chunk ..., took 9.430 seconds
inserted another chunk ..., took 9.187 seconds
inserted another chunk ..., took 9.140 seconds
inserted another chunk ..., took 9.483 seconds
inserted another chunk ..., took 9.298 seconds
inserted another chunk ..., took 9.909 seconds
inserted another chunk ..., took 9.009 seconds
inserted another chunk ..., took 9.876 seconds
inserted another chunk ..., took 9.236 seconds
inserted another chunk ..., took 8.741 seconds
inserted another chunk ..., took 9.310 seconds
inserted another chunk ..., took 10.722 seconds
inserted another chunk ..., took 10.456 seconds
inserted another chunk ..., took 10.378 seconds
inserted another chunk ..., took 10.487 seconds
inserted another chunk ..., took 10.056 seconds
inserted another chunk ..., took 10.463 seconds
inserted another chunk ..., took 10.296 seconds
inserted another chunk ..., took 10.372 seconds
inserted another chunk ..., took 10.567 seconds
inserted another chunk ..., took 10.185 seconds
inserted another chunk ..., took 10.116 seconds
inserted another chunk ..., took 10.127 seconds
inserted another chunk ..., took 10.161 seconds
inserted another chunk ..., took 10.213 seconds
inserted another chunk ..., took 10.758 seconds
inserted another chunk ..., took 10.434 seconds
inserted another chunk ..., took 9.918 seconds
inserted another chunk ..., took 10.380 seconds
inserted another chunk ..., took 6.819 seconds

StopIteration:

In [14]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [15]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [17]:
df.to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace')

1000